<h1 class="trainer-title">Trainer page</h1>
<h4 class="trainer-title">Hey, {{getName()}}! Here's your collected pokemons</h4>
<ul class="pokemons-list">
    <li *ngFor="let pokemon of getPokemons()">{{pokemon}}</li>
</ul>