<h1>The page you are trying to access does not exist</h1>
<br/>
<h4>Use buttons in the navigation-bar to redirect to existing pages</h4>
<br/>
<h4>Or press button to go to login-page</h4>
<form #onLoginClick="ngForm" (ngSubmit)="onLoginSubmit()">
  <button class="btn btn-primary" type="submit">Log in</button>
</form>
