<h1 class="catalogue-title">Pokémon Catalogue</h1>
<ul class="pokemon-list">
    <app-pokemon-list-item *ngFor="let pokemon of pokemons" 
    (clicked)="handlePokemonClicked($event)"
    [pokemon]="pokemon"></app-pokemon-list-item>
</ul>  