<div class="container">
  <h1 class="landing-title">Login to Pokémon Trainer</h1>

  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset class="mb-3">
      <label class="form-label" for="name"> Your name: </label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{ 'is-valid': name.valid, 'is-invalid': (name.invalid && name.touched)}"
        id="name"
        name="name"
        required
        minlength="2"
        ngModel
        #name="ngModel"
      />
      <div *ngIf="name.errors && name.invalid && (name.touched)">
        <p class="invalid-feedback" *ngIf="name.errors.required">Name is required</p>
        <p class="invalid-feedback" *ngIf="name.errors.minlength">Name is too short</p>
      </div>
    </fieldset>
    <button
      type="submit"
      [disabled]="createForm.invalid"
      class="btn btn-primary"
    >
      Log in
    </button>
  </form>
</div>
