<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Pokémon trainer</h1>
    </div>
    <form #onCatalogueClick="ngForm" (ngSubmit)="onCatalogueSubmit()">
      <button class="btn btn-primary" type="submit" name="catalogue" id="catalogue">Catalogue</button>
    </form>
    <form #onTrainerClick="ngForm" (ngSubmit)="onTrainerSubmit()">
      <button class="btn btn-primary" type="submit">Trainer</button>
    </form>
    <form #onLogoutClick="ngForm" (ngSubmit)="onLogoutSubmit()">
      <button class="btn btn-primary" type="submit">Log out</button>
    </form>
  </div>
</div>
